.displayWrapper {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  margin: 0 auto;
}

.airWrapper {
  display: flex;
  flex-direction: column;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  width: 45%;
  max-height: 500px;
  margin: 0 auto;
}
.anotherWrapper {
  display: flex;
  background-color: #235a98;
  justify-content: center;
  width: 30%;
  max-height: 500px;
  margin-left: 10px;
  border-radius: 1px;
  margin: 0 auto;
}

.weatherWrapper {
  display: 'flex';
  width: 25%;
  max-height: 500px;
  border-left: 1px solid silver;
  border-bottom: 1px solid silver;
  border-bottom-left-radius: 1px;
  margin: 0 auto;
}
.weatherWrapper div {
  display: inline-flex;
  flex-direction: column;
}

.blocksWrapper {
  display: flex;
}
.actDays {
  display: flex;
  flex-direction: row;
  margin-bottom: 1px;
  margin-left: 18px;
}

.imageWeather {
  margin-top: 10px;
  font-size: 150px;
}
.temperature {
  font-size: 70px;
}
.actDays span {
  margin-right: 10px;
}
.headerAirWrapp span {
  margin: 5px;
  text-align: center;
}
